*,
*::before, /* apply border-box to everything, including pseudo-elements (::before, ::after), which are CSS-generated elements */
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;  /*using rem for paddings and sizings so 1rem=16px*/
  font-family: Figtree;
}

body {
  background-color: #F4D04E;
  margin:0;
  min-height: 100dvh; /*dynamic viewport height*/
}

/* Using main for good practice. Think about having multiple of the card components, you would use display grid for example, and avoid the card-container  and just use the cards component*/
main {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  padding: 0 1.25rem; /* Use padding instead of setting a width, set the width only for desktop. */
}

.card {
  background-color: #FFFFFF;
  border: 1px solid #111111;
  border-radius: 1.25rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 24rem; /*Use max width for the desktop view*/
  font-size: 14px;
  line-height: 150%;
}

.card h1 {
  font-size: clamp(1.25rem, 1rem + 1vw, 1.5rem);
}

.category {
  font-weight: bold;
  background-color: #F4D04E;
  padding: 0.25em 0.75em;
  border-radius: 0.25rem;
}

.category{
  font-size: clamp(0.75rem, 0.75rem + 0.5vw, 0.875rem);
}

/* clamp(min, fluid, max)
  - min: smallest size (mobile)
  - fluid: scales with viewport (uses vw)
  - max: largest size (desktop)
  → creates smooth scaling between min and max */

/* .image {
  border-radius: 0.8rem;
  overflow: auto;
}

.image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
} */









.attribution {
  display: none;
}